<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>

    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Tortuga</h1>
            <p>parrafo</p>
        </div>
        <div class="col-4">
            <img src="assets/img/tortuga.png" class="img-thumbnail">
        </div>

    </div>

    {{> footer}}

</body>


</html>