<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>

    {{> navbar }}

    {{> loading}}
    <div class="media">
        <img src="../public/assets/img/tortuga.png" class="align-self-start mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Articulo sobre tortugas</h5>
            <p>Las tortugas marinas evocan imágenes de calma y elegancia acuática, pero su vida está llena de curvas
                peligrosas. Pueden disfrutar de existencias longevas –las tortugas verdes, por ejemplo, pasan de los
                ochenta años–, pero antes tienen que solucionar unos cuantos problemas. Aunque se reproducen con
                facilidad y las hembras ponen en las playas entre cincuenta y doscientos huevos de una sentada, pocas
                tortuguitas sobreviven a su primer año. Cangrejos, zorros y diversas aves las incluyen en sus menús y
                dan buena cuenta de ellas antes de que completen el angustioso trayecto que separa su cascarón del mar.
            </p>
        </div>
    </div>
    {{> footer}}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>


</html>